<app-header></app-header>
<app-adress></app-adress>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col">
            <app-main></app-main>
        </div>

    </div>
</div>
<br>
<app-footer></app-footer>
<hr>
<br />
<hr>
<br />
<app-header2></app-header2>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <app-sidebar2></app-sidebar2>
        </div>
        <div class="col-lg-9">
            <app-main2></app-main2>
        </div>
    </div>
    <app-product></app-product>
</div>